html,
body {
  height: 100%;
  min-height: 100%;
}

.difficulties img {
  height: 14px;
  margin: auto;
  width: 14px;
}

.diffs {
  height: 14px;
  margin: auto;
  width: 14px;
}

body {
  height: 100%;
  width: 100%;
  background-image: url("assets/bg.png");
  background-color: #61a363;
  background-blend-mode: soft-light;
  font-family: "Exo 2", sans-serif;
  font-weight: 400;
}

.title-header {
  width: 100%;
  margin: auto;
  text-align: center;
}

#list {
  display: grid;
  margin: auto;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  padding: 0px;
}

.main-container {
  min-height: 100%;
  max-width: 1000px;
  width: calc(100% - 40px);
  align-items: center;

  flex-direction: column;
  justify-items: center;
  position: relative;
  background: #fff;
  margin: auto;
  padding: 16px;
}

.title-header img {
  width: 68.471px;
  height: 48px;
  border-radius: 4px;
}

.thumbnail {
  width: 76px !important;
  height: 76px !important;

  min-width: 76px !important;
  min-height: 76px !important;
  position: relative;
  border-radius: 10px;
}

.thumbnail .previewButton {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  background: #0c0c0c91;
  color: white;
  cursor: pointer;
  user-select: none;
  opacity: 0;
  pointer-events: none;
  transition: 80ms linear;
}

.thumbnail:hover .previewButton {
  opacity: 1;
  pointer-events: all;
}

.song .thumbnail img {
  width: 76px !important;
  height: 76px !important;

  min-width: 76px !important;
  min-height: 76px !important;
}

#main-title {
  color: #61a363;
  text-align: center;
  font-family: Exo 2;
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
}

#subtitle {
  color: #363636;
  text-align: center;
  font-family: Exo 2;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  margin-top: 16px;
  margin-bottom: 16px;
}

.search-opt {
  padding: 16px;
  width: 100%;
  border-radius: 4px;
  background: #ebebeb;
  box-sizing: border-box;
  margin: auto;
}

#search-box {
  border-radius: 4px;
  border: 1px solid #8f8f8f;
  background: #fff;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

#search-box input {
  color: #8f8f8f;
  font-family: Exo 2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 95%;
  border: 0px;
}

.mode-search {
  display: flex;
}

.genres-buttons {
  width: 95%;
}

.filter-buttons button {
  border-radius: 12px;
  border: 20px;
  background: #fff;
  border-color: #000;
  height: 19px!;
  transition-duration: 0.4s;
  color: #8f8f8f;
  text-align: center;
  font-family: Exo 2;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;

  margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}

.filter-buttons button:hover {
  color: #fff;
  background-color: #61a363;
}

.mode-genre-grid {
  display: grid;
  grid-template-columns: 3fr 14fr;
  justify-items: start;
  grid-row-gap: 16px;
  margin-top: 16px;
}

.filter-buttons button.active {
  color: #fff;
  background: #61a363;
}

.genero-search {
  display: flex;
}

.song:hover {
  .hoverSideOptions {
    width: 30px;
    pointer-events: all;
    opacity: 1;
  }
}

.song {
  background: #ebebeb;

  height: 107px;
  border-radius: 5px;
  padding: 16px;
  font-size: 18px;
  display: grid;
  grid-template-columns: 1fr 5fr;

  box-sizing: border-box;

  grid-gap: 8px;
  grid-row-gap: 0px;
  text-align: left;
  position: relative;
  overflow: hidden;
  


  .hoverSideOptions {
    position: absolute;
    height: 100%;
    top: 0;
    right: 0;
    width: 0px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background: #5b9c5d;
    pointer-events: none;
    opacity: 0;
    transition: 80ms linear;
    color: white;
    
    i {
      cursor: pointer;
    }
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.thumbnail {
  grid-column: 1;
  grid-row: 1/5;
  width: 100%;
}

.title {
  grid-column: 2;
  grid-row: 1;
  display: unset;
  height: 25px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist {
  grid-column: 2;
  grid-row: 2;
  font-size: 13px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;
}

.creator {
  width: 50%;
  font-size: 13px;
  grid-column: 2;
  grid-row: 3;
  height: 19px;
}

.difficulties {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;

  grid-column: 2;
  grid-row: 4;
}

.difficulties svg {
  margin-right: 3px;
}

a.title:link,
a.title:visited {
  color: black;
  text-decoration: none;
}

a.title:hover {
  color: green;
  text-decoration: underline;
}

a.creator:link,
a.creator:visited {
  color: black;
}

a.creator:hover {
  color: green;
  text-decoration: underline;
}

/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: blue;
}

@media (max-width: 900px) {
  #main-title {
    font-size: 24px;
    margin-top: 12px;
  }
  #subtitle {
    font-size: 16px;
    grid-column: 1/3;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .title-header {
    width: calc(100% - 1px);
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-gap: 10px;
    margin-bottom: 16px;
  }

  #article {
    grid-column: 1/3;
  }
}

@media (max-width: 727px) {
  #list {
    grid-template-columns: 1fr;
  }

  #count {
    font-size: 16px;
  }

  .mode-genre-grid {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: start;
    grid-row-gap: 8px;
    margin-top: 16px;
    font-size: 12px;
  }

  .filter-buttons button {
    font-size: 12px;
  }

  #search-box {
    height: 22px;
  }

  #search-box input {
    font-size: 12px;
  }
}


div.previewPlayer.hidden {
  bottom: -92px;
  opacity: 0;
}

div.previewPlayer {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100%;
  max-width: 340px;
  background: #e9e9e9;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  padding-bottom: 0;
  opacity: 1;
  transition: linear 120ms;

  div.metadataContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    gap: 10px;

    .metadata {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      .title {
        font-weight: 600;
      }
    }

    .thumbnail {
      width: 50px !important;
      height: 50px !important;
      min-width: 50px !important;
      min-height: 50px !important;
      display: block;
      border-radius: 5px;
      background-color: #00000047;
      background-position: center;
      background-size: cover;
    }
  }

  .controls {
    width: 100%;
    height: 26px;
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;

    .state {
      width: 50px;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: center;
      align-items: center;

      i {
        color: #818181;
        font-size: 20px;
        cursor: pointer;
      }

      i:hover {
        color: #569558;
      }
    }

    .seek {
      width: 100%;
      height: 5px;
      border-radius: 1000px;
      background: dimgrey;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-content: center;
      justify-content: flex-start;
      align-items: center;

      .seekFill {
        height: 100%;
        border-radius: 1000px;
        background-color: #569558;
      }
    }
  }
}
