
.difficulties img {
height: 14px;
margin:auto;
width: 14px;
}

.diffs {
height: 14px;
margin:auto;
width: 14px;
}

body {
  height: 100%;
  width: 100%;
background-image: url("assets/bg.png");
background-color: #61A363;
background-blend-mode:  soft-light; 
font-family: 'Exo 2', sans-serif;
font-weight: 400; 
}



.title-header {
width:100%;
margin: auto;
text-align: center;


}


#list {

display: grid;
  margin: auto;
  grid-gap: 16px;
  grid-template-columns: 1fr 1fr;
  padding: 0px;


  }



.main-container {

max-width: 1000px;
  width: calc(100% - 40px);
  align-items: center;
  display: grid;
  flex-direction: column;
  justify-items: center;
  position: relative;
  background: #FFF;
margin: auto;
padding: 16px;


}

.title-header img {

width: 68.471px;
height: 48px;
border-radius: 4px;

}

.thumbnail {

width: 76px !important;
height: 76px !important;


min-width: 76px !important;
min-height: 76px !important;


}

.song .thumbnail img {

width: 76px !important;
height: 76px !important;


min-width: 76px !important;
min-height: 76px !important;


}

#main-title {

color: #61A363;
text-align: center;
font-family: Exo 2;
font-size: 36px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: 16px;
}

#subtitle {

color: #363636;
text-align: center;
font-family: Exo 2;
font-size: 24px;
font-style: normal;
font-weight: 400;
line-height: normal; 
margin-top: 16px;
margin-bottom: 16px;

}


.search-opt {

padding: 16px;
width: 100%;
border-radius: 4px;
background: #EBEBEB; 
box-sizing: border-box;
margin:auto;


}


#search-box {

border-radius: 4px;
  border: 1px solid #8F8F8F;
  background: #FFF;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 36px;
}

#search-box input {

color: #8F8F8F;
font-family: Exo 2;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;
width: 95%; 
border: 0px;

}


.mode-search {

display: flex;

}

.genres-buttons {


width: 95%

}


.filter-buttons button {
  border-radius: 12px;
  border: 20px;
  background: #fff;
  border-color: #000;
  height: 19px!;
transition-duration: 0.4s;
color: #8F8F8F;
text-align: center;
font-family: Exo 2;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal;

margin: 5px;
  padding-left: 15px;
  padding-right: 15px;
cursor: pointer;

}


.filter-buttons button:hover {
color: #fff;
background-color: #61A363;



} 


.mode-genre-grid {


display: grid;
  grid-template-columns: 3fr 14fr;
justify-items: start;
grid-row-gap: 16px;
margin-top: 16px;

}

.filter-buttons button.active {
  color: #fff;
  background: #61A363;
}


.genero-search {


display: flex;

}


.song {

  background: #ebebeb;
  
  height: 107px;
border-radius: 5px;
padding: 16px;
font-size: 18px;
 display: grid;
  grid-template-columns: 1fr 5fr;

box-sizing: border-box;

grid-gap: 8px;
grid-row-gap: 0px;
text-align: left;



}

*, *::before, *::after {
  box-sizing: border-box;

}


.thumbnail {

grid-column: 1;
grid-row: 1/5;
width: 100%;

}


.title {
grid-column: 2;
grid-row: 1;
  display: unset;
height: 25px;
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;


}


.artist {

grid-column: 2;
grid-row: 2;
font-size: 13px;  
white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 16px;

}



.creator {

width: 50%;
font-size: 13px;
grid-column: 2;
grid-row: 3;
height: 19px;

}

.difficulties {

white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  height: 20px;

grid-column: 2;
grid-row: 4;

}

.difficulties svg{

margin-right: 3px;


}


a.title:link, a.title:visited {
  color: black;
  text-decoration: none;
}

a.title:hover {
  color: green;
  text-decoration: underline;
}

a.creator:link, a.creator:visited {
  color: black;
}

a.creator:hover {
  color: green;
  text-decoration: underline;
}




/* mouse over link */
a:hover {
  color: green;
}

/* selected link */
a:active {
  color: blue;
}
